@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --color1: #304e70;
  --color2: #3f7186;
  --color3: #4d8e9f;
  --color4: #b3d2d1;
  --color5: #e7f6f6;
}

* {
  /* border: 1px solid aqua; */
}

html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}

.calculator {
  background-color: #22252d;
}

.title h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 100px;
}

.screen,
.result {
  color: #ffffff;
  width: auto;
  height: 44px;
  font-size: 1.7rem;
  text-align: right;
}

.result {
  font-size: 2rem;
  font-weight: bold;
}

.buttons {
  background-color: #292d36;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

button {
  width: 70px;
  height: 70px;
  font-size: 1.2rem;
  border: 0;
  margin: 2px;
  color: white;
  background-color: #272b33;
  border-radius: 35px;
}

button:active {
  background-color: rgb(107, 85, 57);
}

.operator {
  color: #cd5f60;
}
