@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&display=swap');

* {
  /* border: 1px solid rgb(205, 7, 7); */
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anek Tamil', sans-serif;
}

.container {
  background-color: #023047;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 0;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  font-size: 27px;
  background-color: #ffb703;
  color: white;
}

button:hover {
  background-color: #fb8500;
}

.result-container,
.buttons-container {
  background-color: #219ebc;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color: white;
}

.result-container {
  height: 80px;
  align-items: flex-end;
  justify-content: flex-end;
}

#shadowOperation,
#currentOperation {
  font-size: 27px;
}

#title {
  color: white;
  font-size: 47px;
  margin-top: 20px;
  margin-bottom: 0;
}
